@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Pushster&display=swap");

/*ROOT*/
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

h1,
h2,
h3,
h4 {
  font-family: "Pushster", cursive;
  color: #ff9fb2;
}

a {
  text-decoration: none;
  color: #ff9fb2;
  text-shadow: 1px 1px 1px #999;
}

ul {
  list-style: none;
}

/*HEADER/NAV*/

nav.navbar {
  background-color: #dedee0;
}

/*MAIN*/

body {
  background-color: #dedee0;
}

main {
  display: flex;
  flex-direction: column;
}

.main__index {
  background-color: #dedee0;
}

.main__index__sectionzero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://www.google.com/search?q=cuaderno+fotos&client=firefox-b-d&sxsrf=APq-WBst8NNAa7UC5xxFpbvT40wV7QWtUQ:1643757816649&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjptYeG09_1AhXvpJUCHRd1AAEQ_AUoAXoECAIQAw&biw=1280&bih=559&dpr=1.5#imgrc=Kae5Vd-rozztZM);
}

.main__index__sectionzero__div {
  max-width: 500px;
  text-align: center;

}

.main__index__sectionzero__div h1 {
  font-size: 40px;
  text-shadow: 1px 1px 3px #999;
}

.main__index__sectionone {
  padding: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main__index__sectionone img {
  width: 500px;
  box-shadow: 2px 2px 5px #999;
  border-radius: 5px;
}

.main__index__sectionone div h2 {
  font-size: 20px;
}

.main__index__sectiontwo {
  padding: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.main__index__sectiontwo img {
  width: 500px;
  box-shadow: 2px 2px 5px #999;
  border-radius: 5px;
}

.main__index__sectionthree h2 {
  padding-top: 20px;
  padding-left: 25px;
}

.main__index__sectionthree ol {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  list-style: disc;
}

.main__index__sectionthree ol div li {
  margin-top: 10px;
  padding: 10px;
}

.main__cursos {
  background: #dedee0;
}

.main__cursos__sectionone {
  margin: 50px;
}

.main__cursos__div__sectionone {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.main__cursos__sectionone img {
  width: 400px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #999;
}

.main__cursos__div__sectionone--right {
  display: flex;
  flex-direction: row-reverse;
}

.main__cursos__div__sectionone--lefttext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.main__cursos__div__sectionone--righttext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  text-align: end;
}

.main__cursos__sectiontwo h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  padding: 10px;
}

.main__cursos__divexams__sectiontwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
  text-align: center;

}

.main__cursos__divexams__sectiontwo img {
  width: 60px;
}

/*Form inscripción*/

.main__inscripcion__sectionone {
  background-color: #dedee0;
}

input,
textarea {
  margin-left: .75rem;
  background-color: transparent;
  border: none;
  border-bottom: #000000 solid 1px;
  color: #000000;
  padding: .5rem;
  resize: none;
  width: calc(100% - 30px);

  transition: border-bottom .2s;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: #faacac solid 1px;
}

input:focus+label i,
textarea:focus+label i {
  color: #faacac;
}

i {
  font-size: 1.25rem;
}

label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
}

i {
  transition: color .2s;
}

.fix-width {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
  width: 70%;
}

form {
  padding: 2rem;
}

button {
  padding: 1rem 3rem;
  border: none;
  color: #ffffff;
  background-color: #ff8282;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.143);

  transition: all .2s;
}

button:hover {
  background-color: #ffffff;
  color: #ff8282;
  box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.231);
}

/*Acá termina el form*/

.profMain div img {
  width: 300px;
  box-shadow: 2px 2px 5px #999;
  border-radius: 5px;
}

.profMain {
  margin: 70px;
  background: #dedee0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 40px 100px;
  grid-template-areas:
    ". girl1 girl1 boy2 boy2 ."
    ". girl1 girl1 boy2 boy2 ."
    ". boy1 boy1 girl2 girl2 ."
    ". boy1 boy1 girl2 girl2 ."
}

.profMain div {
  max-width: 450px;
  text-align: center;
}

.girlOne {
  grid-area: girl1;
}

.boyOne {
  grid-area: boy1;
}

.girlTwo {
  grid-area: girl2;
}

.boyTwo {
  grid-area: boy2;
}

/*ARANCELES*/
body {
  perspective: 1000px;
  background: #dedee0;
}

h1 {
  color: white;
}

.container {
  padding-top: 20px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  float: left;
  padding: 50px 0;
}

.card {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.card img {
  display: block;
  max-width: 100%;
  height: auto;
}

.owl-wrapper {
  transform-style: preserve-3d;
}

.owl-item {
  transition: all 250ms ease-out;
  transform: translate3d(0px, 0px, 0px) scale(1);
}

.owl-item.active {
  transform: translate3d(0px, 0px, -10px) scale(1) rotateY(25deg);
}

.owl-item.active+.active {
  transform: translate3d(0px, 0px, 10px) scale(1);
}

.owl-item.active+.active+.active {
  transform: translate3d(0px, 0px, 20px) scale(1);
}

.owl-item.active+.active+.active+.active {
  transform: translate3d(0px, 0px, 10px) scale(1);
}

.owl-item.active+.active+.active+.active+.active {
  transform: translate3d(0px, 0px, -10px) scale(1) rotateY(-25deg);
}

/*FOOTER*/

footer {
  background: color #dedee0;
}

.footer-heading {
  letter-spacing: 2px;
  margin-top: 20px;
}


.contact-info {
  color: #000000;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0px;

}

.list-inline-item {
  padding-top: 0px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 30px;
  text-align: center;
}

.facebook {
  background-color: #ff8282;
  color: #ffffff;
}

.twitter {
  background-color: #ff8282;
  color: #ffffff;
}

.instagram {
  background-color: #ff8282;
  color: #ffffff;
}

.footer-alt {
  color: #000000;
  margin-top: 5px;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}


/*MEDIA*/

@media only screen and (max-width: 768px) {

  .profMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". girl1 ."
      ". boy2 ."
      ". girl2 ."
      ". boy1 .";
  }
}

@media screen and (max-width: 540px) {
  .fix-width {
    width: 100%;
  }
}

@media screen and (max-width: 866px) {
  .main__index__sectionzero {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main__index__sectionone {
    padding: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .main__index__sectionone img {
    width: 500px;
    box-shadow: 2px 2px 5px #999;
    border-radius: 5px;
  }


  .main__index__sectiontwo {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .main__index__sectiontwo img {
    width: 500px;
    box-shadow: 2px 2px 5px #999;
    border-radius: 5px;
  }

  .main__index__sectionthree {
    display: flex;
    flex-direction: column;

  }

  .main__index__sectionthree ol {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    list-style: disc;
  }

  .main__cursos__sectionone {
    display: flex;
    flex-direction: column;
  }

  .main__cursos__div__sectionone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .main__cursos__div__sectionone--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__cursos__sectionone img {
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
  }

  .main__cursos__div__sectionone--lefttext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    text-align: center;
  }

  .main__cursos__div__sectionone--righttext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    text-align: center;
  }

  .main__cursos__divexams__sectiontwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    text-align: center;

  }

  .main__cursos__divexams__sectiontwo img {
    width: 60px;
  }

}