@import "./reset";
@import "./media-queries";

body {
    background-color: #dedee0;

    header {
        nav.navbar {
            background-color: #dedee0;

            @include mobile {
                img {
                    width: 150px;
                }
            }
        }

        .indexconta {
            box-shadow: 4px 4px 10px 4px #cecece;
        }

    }
}