@import "./reset";
@import "./media-queries";

.divcard {
    display: flex;
    justify-content: center;

}

.div-aran {
    margin-left: 50px;

    @include mobile {
        margin-left: 0px;
        text-align: center;
    }
}

.card-aran {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.03);
    border-right: 1px #dde0e2 solid;
    border-radius: 4px 4px 0 0;
    background-color: white;
    color: #56575b;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 350px;
    box-shadow: 2px 2px 5px #999;
    transition: all 0.4s;

    &::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 3s;
        box-shadow: 0 10px 20px 0 #0000, 0 10px 20px 0 #0000;
        content: '';
        opacity: 0;
        z-index: -1;
    }

    &:hover {
        transform: scale(1.1);
        background-color: #ffa2a2;

        div {
            color: #fff;

        }

        p {
            color: #fff;
        }

        sub {
            color: #fff;
        }

        a {
            background: #fff;
            color: #ff8282;
        }
    }


    .plan-name {
        padding: 13px 0;
        border-bottom: 1px #dde0e2 solid;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        color: #464c50;
        font-family: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        letter-spacing: 1px;

    }

    .plan-description {
        font-size: 14px;
        line-height: 18px;
    }

    .plan-price sub {
        text-transform: none;
        font-size: 16px;
        bottom: 0;
    }

    .plan-price {
        color: #56575b;
        font-family: "Open sans";
        font-size: 34px;
        text-transform: uppercase;
        line-height: 50px;

    }



    sub {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    .plan-cta {
        position: relative;
        bottom: 0px;
        left: 0;
        width: 100%;
        text-align: center;
        margin-top: 50px;
        min-height: 95px;


    }

    .button,
    .button-primary {
        background: #ff8282;
        border-radius: 8px;
        font-size: inherit;
        color: white;
        transition: background 100ms linear;
        text-decoration: none;
        line-height: normal;
        outline: none !important;
        padding: 0.6em 1em;

        &:hover a {
            background: #fff;
            color: #ff8282;
            text-decoration: none;
        }
    }
}

.bg-footer {
    margin: 20px;
}